
.change-password-page {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 20px;
}

.menu-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px; 
}  

.change-form input,
.change-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #efefef;
}
