
.privacy-policy-page {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    border: 1px solid #007bff; /* Blue border around the content */
}

.menu-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px; 
}

.privacy-content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.privacy-content {
    height: 80%; /* Placeholder height */
    overflow-y: auto; /* Enable scrolling for the content */
}

.back-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Adjusted for spacing from the bottom content */
    border: none;
    background-color: #efefef;
}
