/* StudyScreen2.css */
.welcome-message{
  background: linear-gradient(to right, #f0eeee, #6161c4);
  padding: 1.5rem;
  text-align: center;
}

.welcome-message h1{
  font-family: "Sabon", serif;
  font-weight: 400;
  margin: 0;
  margin-left: 2em;
  text-align: left;
  font-size: 27px;
  color: #0b0b0c;
}

.welcome-message p {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  margin: 0;
  margin-left: 4em;
  text-align: left;
  color: #050506;
}

.instructions {
  font-family: 'Cormorant Infant', serif;
  margin-bottom: 20px;
  text-align: center;
  color: #030304; /* Consistent color for headings */
  font-size: 30px;
}

.play-button {
  background-color: #4071f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px; 
  position: absolute; 
  left: 50%;         
  transform: translateX(-50%); 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.emotions-list {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  gap: 10px; 
  width: 100%; 
  max-width: 600px; 
  margin-bottom: 20px; 
}

.emotion-button {
  background-color: #b7e4c7;
  color: black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  position: absolute; 
  left: 50%;         
  transform: translateX(-50%); 
  bottom: 50px;  
}

.submit-button {
  background-color: #4CAF50;
}
