.study-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin: auto;
  padding-top: 20px;
}

.study-screen .hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; 
}

.line {
  width: 100%;
  height: 3px;
  background-color: #333;
}

.play-song,
.rating-button,
.submit,
.exit-study {
  background-color: #efefef;
  border: none;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: #ddd;
}

.ratings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rate-song {
  margin: 10px 0;
  text-align: center;
}

.exit-study {
  background-color: #ccc;
}
