/* StudyScreen1.css */
.study-screen {
  background-color: #f4f4f8; 
  color: #333;
  font-family: 'Arial', sans-serif; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto; 
}

h2 {
  color: #444; 
  margin-bottom: 20px; 
}

.control-button, .submit-button {
  background-color: #4071f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer; 
}

.control-button:hover, .submit-button:hover {
  background-color: #305fcf; 
}

.volume-slider, .song-slider {
  width: 90%; 
  margin: 10px 0;
}

.question {
  text-align: left; 
  width: 100%; 
  margin-bottom: 20px; 
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%; 
}

label {
  display: block; 
  margin-bottom: 5px; 
}

.submit-button {
  background-color: #4CAF50; 
  color: black; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  margin: 10px 0; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.submit-button:hover {
  background-color: #45a049;
}

