.hamburger-menu {
  width: 30px;
  height: 30px;
  position: relative;
  justify-content: space-around;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.open {
  transform: translateX(255px);
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: all 0.3s ease;
  transform-origin: center;
}
.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.open .line:nth-child(2) {
  opacity: 0;
}
.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Styles for the sidebar */
.sidebar {
  width: 255px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -255px; /* start off the screen */
  background-color: #ffffff;
  z-index: 999;
  transition: left 0.3s ease-in-out;
}
.show {
  left: 0; /* bring onto the screen when 'show' class is added */
}
.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
.user-photo {
  margin-bottom: 10px;
  /* Replace with styles for the user photo */
}
.user-name {
  margin-bottom: 10px;
  font-weight: bold;
}
.menu-item {
  padding: 10px 20px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #f5f5f5;
}
  