.hamburger-menu {
  position: fixed;
  left: -100%; 
  top: 0;
  height: 100%;
  background: black;
  transition: left 0.3s; 
  z-index: 1000; 
}

.hamburger-menu.open {
  left: 0; 
}

.menu-button {
  position: fixed;
  left: 20px;
  top: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 3em;
  z-index: 1001; 
  transition: transform 0.3s; 
  color: black; 
}

.menu-button.open {
  color: white; 
  transform: rotate(90deg); 
}

.close-menu {
  color: white;
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 30px;
}

.hamburger-menu h2 {
  color: white;
  text-align: center;
  margin-top: 36px; 
}

.hamburger-menu nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.hamburger-menu nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  transition: background 0.3s;
}

.hamburger-menu nav a:hover,
.hamburger-menu nav a:focus {
  background: #333; /* A darker shade for hover state */
}

  