.support-page {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .hamburger-menu {
    width: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-bottom: 5px;
  }
  
  .support-form input,
  .support-form textarea,
  .support-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
  }
  
  .support-form textarea {
    height: 150px; /* Adjust the height as needed */
  }
  
  .support-form button {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Adjust the input placeholder color */
  .support-form input::placeholder,
  .support-form textarea::placeholder {
    color: #999999;
  }
  
  /* Style for the hamburger menu */
  .line {
    background-color: #000000;
    height: 3px;
    margin: 4px 0;
  }
  