.terms-conditions-page {
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .terms-content {
    height: 80vh;
    overflow-y: auto;
  }
  
  .back-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

  }
  